# Save this file to k8s/secret.yaml
# DO NOT COMMIT THIS FILE IF IT HAS REAL SECRETS IN IT! 
apiVersion: v1
kind: Secret
metadata:
  name: autoreviewer-secrets
type: Opaque
stringData:
  OPENAI_API_KEY: "sk-your-openai-api-key-here"
  # Optional: LangSmith tracking URL
  # LANGCHAIN_API_KEY: "lsv2_your_langchain_api_key_here"
  # LANGCHAIN_TRACING_V2: "true"